footer{
    background-color: #484c54;
    border-radius: 30px;
    color: #eeeeee;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 95vh;
    }
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.icono-footer {
    width: 20vh;
}
.logofooter {
    width: 70vh;
}
.iconos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
li {
    list-style-type: none;
    text-decoration: none; 
}
footer ol {
    margin: 0%;
    padding: 0%; }


